img{
  border:0
}
svg:not(:root){
  overflow:hidden
}
.section--is-active{
  opacity:1;visibility:visible;z-index:1;-webkit-transition:opacity .4s ease-in-out .4s;transition:opacity .4s ease-in-out .4s
}
.section--next{
  -webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-transition:-webkit-transform .4s ease-in-out;transition:-webkit-transform .4s ease-in-out;transition:transform .4s ease-in-out;transition:transform .4s ease-in-out, -webkit-transform .4s ease-in-out
  }
.section--prev{
  -webkit-transform:translateY(45px);transform:translateY(45px);-webkit-transition:-webkit-transform .4s ease-in-out;transition:-webkit-transform .4s ease-in-out;transition:transform .4s ease-in-out;transition:transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}
.l-main-content{
  position:relative;width:100%;height:100%;margin:0;padding:0;list-style:none
}
.l-section{
  position:absolute;
  width:100%;
  height:100%
}
.section{
  opacity:0;
  visibility:hidden;
  -webkit-transition:opacity .4s ease-in-out,visibility 0s .4s;
  transition:opacity .4s ease-in-out,visibility 0s .4s
}
.work{
  position:relative;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:960px;
  max-width:80%;
  height:100%;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  margin:0 auto
}
@media (max-width: 1180px){
  .work{
    max-width:100%
  }
}
.work h2{
  margin:0 0 20px 0;
  font-size:30px;
  text-align:center
}
.work--lockup{
  position:relative
}
.work--lockup .slider{
  position:relative;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:80%;
  margin:0 auto;
  padding:0;
  list-style:none
}
.work--lockup .slider--item{
  position:absolute;
  display:none;
  text-align:center
}
.work--lockup .slider--item a{
  text-decoration:none;
  color:#858585
}
.work--lockup .slider--item-title{
  margin-top:10px;
  font-size:12px;
  font-weight:700;
  text-transform:uppercase
}
.work--lockup .slider--item-description{
  display:none;
  max-width:250px;
  margin:0 auto
}
.work--lockup .slider--item-image{
  width:150px;
  height:150px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden
}
.work--lockup .slider--item-image img{
  width:100%
}
.work--lockup .slider--item-left{
  top:50%;
  left:0;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  display:block
}
.work--lockup .slider--item-right{
  top:50%;
  right:0;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);display:block
}
.work--lockup .slider--item-center{
  position:relative;
  top:30px;left:50%;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  display:block
}
.work--lockup .slider--item-center a{
  color:#fff
}
.work--lockup .slider--item-center .slider--item-title{
  margin-top:25px;
  font-size:16px
}
.work--lockup .slider--item-center .slider--item-description{
  display:block
}
.work--lockup .slider--item-center .slider--item-image{
  width:300px;
  height:300px
}
.work--lockup .slider--next,.work--lockup .slider--prev{
  position:absolute;
  top:160px;
  display:-webkit-box;
  display:-webkit-flex;display:-ms-flexbox;display:flex;width:50px;height:50px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background-color:#282828;border-radius:50%;cursor:pointer
}
.work--lockup .slider--next svg,.work--lockup .slider--prev svg{
  width:20px;fill:#fff
}
.work--lockup .slider--next{
  right:0
}
.work--lockup .slider--prev{
  left:0
}
@media (max-width: 900px){
  .work--lockup .slider--item-image{
    width:120px;height:120px
  }
  .work--lockup .slider--item-center .slider--item-image{
    width:240px;height:240px
  }
  .work--lockup .slider--next,.work--lockup .slider--prev{
    top:130px
  }
}
@media (max-width: 767px){
  .work--lockup .slider{
    width:75%
  }
  .work--lockup .slider--item-image{
    width:90px;height:90px
  }
  .work--lockup .slider--item-center .slider--item-image{
    width:190px;height:190px
  }
  .work--lockup .slider--next,.work--lockup .slider--prev{
    top:105px
  }
}
@media (max-width: 600px){
  .work--lockup .slider{
    width:auto
  }
  .work--lockup .slider--item-left,.work--lockup .slider--item-right{
    display:none
  }
}
